*{
    margin: 0;
    padding: 0;
}

.box1{
    background-color: brown;
    height: 30vh;
    text-align: center;
}
.box1 h1{
    padding-top: 10vh;
}

.box2{
    text-align: center;
    margin: 50px;
}

.box2 button{
    margin-top: 20px;
    outline: 0;
    height: 35px;
    width: 75px;
    border: none;
    background-color: transparent;
    text-decoration: double underline;
    font-weight: 900;
    font-size: 17px;
    cursor: pointer;
    
}

.box2 button:hover{
    background-color: red;
    border-radius: 10px;
}

.box3_1{
    
}

.box3_2{
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}
.box3_2 p{
    margin-left: 20px;
}




.box4{
    position: fixed;
    background-color: violet;
    bottom: 0;
    width: 100%;
    height: 45px;
}
.box4_1{
    display: flex;
    justify-content: space-evenly;
}
.box4_1 button{
    background-color: transparent;
    outline: 0;
    border: transparent;
    cursor: pointer;
    font-size: 40px;
}